<html>

<head>

    {% load static %}
    
    
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotería Site </title>
   
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'AppGeneral/css/bootstrap.min.css' %}">
    
    <!-- Styles     -->
    
    <link href="{% static 'AppGeneral/css/gestion.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'AppGeneral/css/main.css' %}">
    
    
    
    


    
    <!-- Bootstrap CSS
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    
    <link href="{% static 'AppGeneral/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
     -->
     <!-- Fonts 
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     
    -->

</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      
        <span class="site-heading-lower">The Lotto's Statistics last 30 years</span>
      </h1>


 <!-- Navbar -->
 <nav class="navbar navbar-expand-sm navbar-dark py-lg-4"  id="navbar" style="background: #8A2BE2;" >
    <div class="container-fluid"> 
      
       <button class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mx-auto" >
           <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item {% if request.path == 'acercaDe/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'acercaDe' %}">About</a>
          </li>
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="https://www.txlottery.org/export/sites/lottery/Games/Lotto_Texas/Winning_Numbers/lottotexas.csv">Download</a>
          </li>
          <li class="nav-item {% if request.path == '/llamaPdfHoy' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'llamaPdfHoy' %}">Today</a>
          </li>
          <li class="nav-item {% if request.path == '/numerosfrecuencia' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'numerosfrecuencia' %}">Numbers/Frecuency</a>
          </li>
           
          <li class="nav-item {% if request.path == '/recibeDia' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'recibeDia' %}">Day</a>
          </li>
          <li class="nav-item {% if request.path == '/recibeMes' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'recibeMes' %}">Month</a>
          </li>
          <li class="nav-item {% if request.path == '/recibeDiaMes' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'recibeDiaMes' %}">Day/Month</a>
          </li> 
          <li class="nav-item {% if request.path == '/masReportes' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'masReportes' %}">More...</a>
          </li>
          <li class="nav-item {% if request.path == '/Blog' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Blog' %}">Blog</a>
          </li>  
          <li class="nav-item {% if request.path == '/Contacto' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Contacto' %}">Contact</a>
          </li>
          <li class="nav-item {% if request.path == '/Help' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Help' %}">Help</a>
          </li>
         
        </ul>
      </div>
     </div>  
  </nav>

 <!-- NAVBAR
    <nav class="navbar navbar-expand-sm navbar-dark " id="navbar" style="background: #8A2BE2;" >
        <div class="container-fluid">
            
            <button class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.txlottery.org/export/sites/lottery/Games/Lotto_Texas/Winning_Numbers/lottotexas.csv">Download</a> </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Today</a> </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Numbers/Frecuency</a> </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Day</a> </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Month</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Day/Month</a> </li> 
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">More...</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Blog</a> </li> 
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Help</a></li>
          
                </ul>
            </div>
        </div>
    </nav>
    -->
  <!-- Contenido cambiante -->
  
  {% block content %}
  
  
  {% endblock%}


    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container" style="font-size: 20px; color:#FFFFFF;">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">	Derechos Reservados </p>
        <p class="m-0 mbt1" style="font-size: 15px;">&copy; Datos hasta octubre 2020</p>
      </div>
	</footer>

    <!-- Bootstrap -->

    <script src="{% static 'AppGeneral/js/popper.min.js' %}"></script>
    <script src="{% static 'AppGeneral/js/bootstrap.min.js' %}"></script>

</body>


</html>